@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Rubik:ital@1&display=swap');


.background {
    background: url("../../Images/profile-background.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 200px;
    width: 100%;
}
.profile__card {
    display: flex;
}
.profile {
    font-family: 'Noto Serif', serif;
    font-size: 1.2em;
    
}
.mail {
    color: grey;
    font-size: 0.9rem;
}