.container {
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 1px grey solid;
    max-height: 62px;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
}

@media (min-width: 992px) {
    .hamburger {
        display: none;
    }
    
}
@media (max-width: 992px) {
    .login {
        display: none;
    }
}
